body {
    font-family: 'Arial', monospace, sans-serif;
    font-size: 24px;
    color: black;
    background-color: white;
}

header {
    text-align: center;
    font-size: 40px;
	margin: 10%;
}

form {
    margin: 8%;
    padding: 4%;
    border-radius: 20px;
    background-color: #22224e;
}

#name, #email, #number, #current-role, #dropdown {
    display: block;
    margin-top: 15px;
    margin-bottom: 28px;
    height: 35px;
	width: 100%;
	border: none;
    border-radius: 6px;
   
}
#radio-buttons label {
	display: block;
	margin-top: 5px;
	margin-bottom: 3px;
	padding: 8px 4px 8px 4px;
	width: 100%;	
} 
#check-buttons label {
	display: block;
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 8px 4px 8px 4px;
	width: 100%
}

#area {
	display: block;
	width: 100%;
	height: 150px;
	margin-top: 15px;
}
#submit {
	width: 100%;
	display: block;
	color: white;
    background-color: #4dcb56;
    border-radius: 6px;
    margin-top: 10px;
    margin-bottom: 15px;
    height: 45px;
	border-color: black;
    
}

  

